{% extends 'base.html' %}
{% load static %}

{% block title %}Ciberseguridad{% endblock %}

{% block content %}

<div class="container mt-4" style="max-width: 700px;">

    <h1>Ciberseguridad</h1>

    <div id="carouselCiber" class="carousel slide">

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{% static 'images/ciber1.png' %}" class="d-block w-100 rounded" alt="Ciberseguridad 1">
            </div>

            <div class="carousel-item">
                <img src="{% static 'images/ciber2.png' %}" class="d-block w-100 rounded" alt="Ciberseguridad 2">
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCiber" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselCiber" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>

</div>

{% endblock %}