{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div class="container mt-4">

    <h1>Temas</h1>

    {% if temas %}
        <div class="row">
            {% for tema in temas %}

                <div class="col-md-6">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ tema.nombre }}</h5>
                            <p class="card-text">{{ tema.descripcion }}</p>

                            {% if tema.nombre == 'Ciberseguridad' %}
                                <a href="{% url 'inicio_ortiz:ciberseguridad' %}" class="btn btn-primary">Ver tema</a>
                            {% else %}
                                <a href="{% url 'inicio_ortiz:videojuegos' %}" class="btn btn-primary">Ver tema</a>
                            {% endif %}

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}

</div>

{% endblock %}